<ion-content>
  <header class="header container-center">
      <div class="container-center">
        <img src="../../../assets/back_oscuro.svg" routerLink="/medicamentos">
        <h1>Domingo</h1>
      </div>
  </header>
  
  <section class="body display-around">
    <!-- NG FOR PARA TOMAS DE ESE DÍA -->
    <!-- <ng-container *ngIf="medicamentos.length != 0 else isElse" >
      <ng-container *ngFor="let medicamento of medicamentos">
        <article class="display-around">
          <div class="medicina-next mañana">
            <div class="izquierda">
              <div class="medicina-nombre">
                <p>{{nombre}}</p>
              </div>
              <div class="medicina-line">
              </div>
            </div>
            <div class="derecha">
              <div class="medicina-hora">
                <p>{{toma}}</p>
              </div>
            </div>
          </div>
      </ng-container>
    </ng-container>
    <ng-template #isElse>
      <article class="">
              <p>No hay medicamentos para hoy</p>
      </article>
  </ng-template> -->
    <article class="display-around">
      <div class="medicina-next mañana">
        <div class="izquierda">
          <div class="medicina-nombre">
            <p>Aspirina</p>
          </div>
          <div class="medicina-line">
          </div>
        </div>
        <div class="derecha">
          <div class="medicina-hora">
            <p>9:30</p>
          </div>
        </div>
      </div>
      <div class="medicina-next tarde">
        <div class="izquierda">
          <div class="medicina-nombre">
            <p>Aspirina</p>
          </div>
          <div class="medicina-line">
          </div>
        </div>
        <div class="derecha">
          <div class="medicina-hora">
            <p>13:30</p>
          </div>
        </div>
      </div>
      <div class="medicina-next noche">
        <div class="izquierda">
          <div class="medicina-nombre">
            <p>Aspirina</p>
          </div>
          <div class="medicina-line">
          </div>
        </div>
        <div class="derecha">
          <div class="medicina-hora">
            <p>21:30</p>
          </div>
        </div>
      </div>
    </article>
    <article class="display-around">
      <h3 class="subtitle">Completado</h3>
      <div class="medicina-next completado">
        <div class="izquierda">
          <div class="medicina-nombre">
            <p>Aspirina</p>
          </div>
          <div class="medicina-line">
          </div>
        </div>
        <div class="derecha">
          <div class="medicina-hora">
            <p>8:30</p>
          </div>
        </div>
      </div>
    </article>
  </section>
</ion-content>

