#logo{
    margin-top: 40%;
    height: 65vw;
    width: 65vw;

}
#logo2{
    width: 65vw;
    height: 25vw;
}
ion-content{
    --background: none;
  
    background-image: url("/assets/landing/background-01.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   

}


.logo{
    background-image: url("/assets/landing/logo-03.svg");
    width: 86px;
    height: 86px;
}

.container{
    position:absolute;
    top:31vh;
  bottom: 35vh;
  left: 20vw;
  right: 20vw;
   
}