<!-- <ion-header>
  <ion-toolbar>
    <ion-title>HOME/MEDICAMENTOS/PROSPECTOS..</ion-title>
  </ion-toolbar>
</ion-header> -->




<ion-content>

  <img id="flecha" src="../assets/Arrow1.svg" />
  <img id="imagenBarra" src="../assets/Onboarding/NavBar.svg">


  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width slides/quotes -->
    <div class="mySlides">
      <p>Incluye:</p>
      <ul>
        <li>· Recordatorios de los próximos</li>
        <li>· Recordatorios de los próximos
          medicamentos</li>
      </ul>
    </div>

    <div class="mySlides">
      <p>El formulario contiene:</p>
      <ul>
        <li>· Nombre del medicamento</li>
        <li>· Dosis diarias</li>
        <li>· Frecuencias en horas</li>
        <li>· Cantidad inicial en la caja</li>
        <li>· Hora de la primera toma</li>
        <li>· Comentarios</li>
      </ul>
    </div>

    <div class="mySlides">
      <p>Cuenta con:</p>
      <ul>
        <li>· Pastillero semanal y diario</li>
        <li>· Lista de medicamentos añadidos</li>
      </ul>
    </div>

    <div class="mySlides">
      <p>Permite buscar prospectos de cada medicamento indicando su nombre</p>
    </div>

    <div class="mySlides">
      <p>Permite buscar farmacias alrededor de su localización o dirección concreta</p>
    </div>

  </div>

  <!-- Next/prev buttons -->
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>

  <!-- Dots/bullets/indicators -->
  <div class="dot-container">
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
    <span class="dot" (click)="currentSlide(4)"></span>
    <span class="dot" (click)="currentSlide(5)"></span>
  </div>
</ion-content>