<ion-content>
  <h1>{{titulo}}</h1>
  <img id="flecha" src="../assets/arrow2.svg" />
  <img id="imagenBarra" src="../assets/NavBar3A_3.svg">

  <div class="omitir">
    <!-- <button routerLink="../../configuracion/contactos/anadir-contacto" class="but-cancel">Omitir</button> -->
    <button (click)="bntOmitir()" class="but-cancel">Omitir</button>
  </div>
  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width slides/quotes -->
    <div class="mySlides">
      <p>Una vez hayas introducido tratamientos en la aplicación, Easypill te informará 
        de las horas a las que te tienes que ingerir cada medicamento. ¡No te olvides de informar a la 
        aplicación cuando te tomas un medicamento! 
      </p>
    </div>

    <div class="mySlides">
      <p>También puedes consultar y editar todos tus tratamientos, así como acceder a la planificación
        de tus tratamientos a lo largo de la semana y a la lista de medicamentos
        que tienes que ingerir cada día.
      </p>
    </div>

    <div class="mySlides">
      <p>Aquí es donde puede añadir nuevos tratamientos a tu lista, para que EasyPill te ayude a llevar
        un seguimiento y recordarte las horas de ingesta de cada uno. Una vez añadidos, se pueden editar en 
        cualquier momento.
      </p>
    </div>

    <div class="mySlides">
      <p>Easypill te informa de farmacias más cercanas a tu actual localización, y te permite también 
        buscar farmacias por calle o municipio, dentro de la Comunidad de Madrid. Nuestra base de datos se actualiza 
        constantemente con los datos que ofrece la CAM. 
      </p>
    </div>

    <div class="mySlides ultimo">
      <p>Por último, podrás consultar el prospecto tanto de los medicamentos que has añadido a la aplicación como de 
        cualquier medicamento que existe en el mercado. Únicamente deberás seleccionar el medicamento concreto 
        que quieres consultar.
      </p>
      <!-- <ng-container *ngIf="mostrarComenzar">
        <button (click)="bntComenzar()" class="but comenzar">Comenzar</button>
      </ng-container> -->
    </div>    
  </div>

  <!-- Next/prev buttons -->
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>


  <!-- Dots/bullets/indicators -->
  <div class="dot-container">
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
    <span class="dot" (click)="currentSlide(4)"></span>
    <span class="dot" (click)="currentSlide(5)"></span>
  </div>
</ion-content>