h1 {
  text-align: center;
  font-weight: bold;
  color: rgb(var(--primary_color));
  font-size: x-large;
  margin-top: 30%;
  letter-spacing: 2px;
}

.omitir{
  position: absolute;
  top: 47px;
  left: 40px;
}

.but-cancel {
  padding: 0px 15px;
}

#flecha {  
  position: absolute;
  top: 35%;
  transition: top ease-in-out;
  animation: arribaAbajo;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes arribaAbajo {
  0% {top:30%;}
  50% {top:25%;}
  100% {top:30%;}

}

#imagenBarra {
  position: absolute;
  top: 40%;
  left: 0;
  width:100vw;
}

/* Slideshow container */
.slideshow-container {
  position: absolute;
  top: 52%;
  width: 100%;
  background-color:white; 
}

/* Slides */
.mySlides {
  display: none;
  padding: 10px 45px;  
}

.mySlides>p {
  color: rgb(111, 0, 255);
  margin: 10px 0; 
  font-weight: 500;
  text-align: center;
  line-height: 25px;
}

.mySlides>ul {
  position: relative;
  left: 10px;
}


.mySlides li {
  margin: 5px 0; 
  color: rgb(111, 0, 255);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  width: auto;  
  padding: 16px;
  color: rgb(111, 0, 255);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {  
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* The dot/bullet/indicator container */
.dot-container {
  position: absolute;
  bottom: 2%;
  left: 33%;
  padding: 20px;
  background-color:white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(231, 216, 251);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: rgb(183, 128, 255);
}

.mostrar {
  display: block;
}

.comenzar{
  position: absolute;
  right:20%;
  left:20%;
  bottom: -40px;
  
}