.header {
    height: calc(var(--header_height) + 30px);
    background-color: rgb(var(--primary_color));
    position: fixed;
    width: 100%;
}

.header > div >img{
    left: 20px;
    position: absolute;
    width: 10px;
    height: 20px;
}

.header > div > h1 {
    color: rgb(var(--color_white));
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}
.body {
    position: absolute;
    height: auto;
    border-radius: var(--border_radius-header) var(--border_radius-header) 0 0;
    width: 100%;
    top: var(--header_height);
    background-color: rgb(var(--color_white));
    z-index: 1;
    display: block;
}

.container-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#texto{
    font-size: 11px;
    margin-top: 22px;
}
#aceptar{
    width: 133px;
    height: 32px;
    background-color: rgb(var(--primary_color));
    border-radius: 17px;
    font-size: 11px;
    font-weight: bold;
    color: rgb(var(--color_white));
    margin-top: 10px;
    margin-bottom: 40px;
}
ul li
{
    font-size: 11px;
    padding: 10px 30px;
}