<ion-content>
  <section class="container-center todo">
    <article>
      <div class="display-center">
        <h2>Nueva Cuenta agregada</h2>
        <p class="parrafo">BIENVENIDA MARTA!</p>
        <p class="parrafo">¡Ahora eres parte de nuestra gran familia EasyPill!</p>
      </div>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="container-center">
            <button routerLink="/inicio-onboarding" class="but" (click)="closeModal()">Continuar</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </article>
  </section>  
</ion-content>
