<ion-content>
  <section class="container-center todo">
    <article>
      <div class="display-center">
        <h2 class="modal-header">{{titulo}}</h2>
        <!-- <p class="parrafo destacado-modal">BIENVENIDA MARTA!</p> -->
        <p class="parrafo">{{mensaje}}</p>
      </div>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="container-center">
            <button routerLink={{urlSalida}} class="but" (click)="closeModal()">{{textoBoton}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </article>
  </section>  
</ion-content>
