<ion-content>
  <section class="container-center todo">
    <article>
      <div class="display-center">
        <h2>Nuevo contacto añadido</h2>
        <p class="parrafo">¡Has agregado a un nuevo contacto!</p>
      </div>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="container-center">
            <button routerLink="/configuracion/contactos" class="but" (click)="closeModal()">Ir a Contactos</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </article>
  </section>  
</ion-content>

<h2>Nueva Cuenta agregada</h2>
<p>BIENVENIDA MARTA!¡ Ahora eres parte de nuestra gran familia EasyPill!</p>
