/// aca no hace scroll ni dios

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  ion-content {
    overflow: hidden;
    --overflow: hidden;
  }
  
  
  .scroll-content {
    overflow: hidden;
  }
    ion-infinite-scroll.md.infinite-scroll-enabled.hydrated {
        overflow: scroll!important;
        height: 100%!important;
      }  

//////////


ion-contet{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.omitir{
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 30px;
}

.figura{
    align-self: center;
    width: 100%;
    height: 260px;
    margin-top: 30px;
    margin-left: 70px;
}

.texto{
    text-align: center;
    align-self: flex-end;
    padding: 30px;
    
}
p{
    font-family: 'Montserrat', sans-serif;
    color: #6f00ff;
    font-style: bold;
    font-size: 20px;
    
    font-weight: bold;
}

.p1{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: unset;
    margin-left: 30px;
    margin-right: 30px;
}

.but-cancel {
    padding: 0px 15px;
}
