<ion-header>
  <ion-toolbar>
    <div class="omitir">
      <button routerLink="../home" class="but-cancel">omitir</button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="figura">
    <img class="ilustracion" src="../assets/Ilustracion-inicioOnboarding.svg"/>
  </div>

  <div class="texto">
    <p>¡Organiza tus medicamentos!</p>
    <p class="p1">Easypill te ayudará a llevar un seguimiento de tu salud y bienestar proporcionandote
      recordatorios útiles.
    </p>
    <button routerLink="onboarding" class="but">Empecemos!</button>

  </div>

</ion-content>
