<ion-content>
  <div class="omitir">
    <button (click)="bntOmitir()" class="but-cancel">Omitir</button>
  </div>
  <div class="figura">
    <img class="ilustracion" src="../assets/Ilustracion-inicioOnboarding.svg" />
  </div>
  <div class="texto">
    <p>¡Planifica tus tratamientos!</p>
    <p class="p1">Easypill te ayudará a organizarte con tus tratamientos y te recordará cuándo
      tienes que tomar cada medicamento.
    </p>
    <button routerLink="onboarding" class="but">¡Empecemos!</button>

  </div>
</ion-content>