.caja{
    background-color: black;
    width: 50px;
    height: 50px;
 }
  
  
 ion-fab{
    margin-right: 200px;
 }
  
 ion-fab-button{
    margin-right: 42vw;
    margin-left: 42vw;
    position: fixed;
    bottom: 20px;
    right: 0;
    --box-shadow:none;
    // background-color: rgb(78, 16, 129);
   
 }
  
 ion-fab-button{
    --background: rgb(111, 0, 255);
  }
  
 ion-icon{
    width: 25px;
    height: 25px;
 }
  
 ion-tabs{
    background-color: rgb(251, 248, 252);
 }
 

 ////// ------ INDICAR EN LA NAV BAR CUAL ES LA PÁGINA

 /// ------ home

 .mostrarHome{
   opacity: 100%;
 }

 .ocultarHome{
   opacity: 0%;
 }
/// ------- medicamentos

.mostrarMedicamentos{
   opacity: 100%;
 }

.ocultarMedicamentos{
   opacity: 0%;
 }

/// ------- farmacias

 .mostrarFarmacias{
   opacity: 100%;
 }

.ocultarFarmacias{
   opacity: 0%;
 }

/// ------- prospectos

 .mostrarProspectos{
   opacity: 100%;
 }

.ocultarProspectos{
   opacity: 0%;
 }

 ////// ------ FIN

 ////// ------ NAV BAR ANIMACIONES



.homeIcon svg {
       animation: bouncing 0.3s ease-in forwards;
     
   }

.medicamentos svg{
      animation: bouncing 0.3s ease-in forwards;  
 }
 
.prospectos svg{
   animation: bouncing 0.3s ease-in forwards; 
}
      
.pharmacy  {
   animation: bouncingFarmacia 0.3s ease-in forwards;
}



 @keyframes bouncing{
   
   from{
    
       transform: scale(1,1);
       
   }

   50%{
      transform: scale(1.3,1.5);
     
   }
   
   to{
       transform: scale(1,1);
       opacity: 100%;
      
   }
}

@keyframes bouncingFarmacia{
   
   from{
    
      transform: scale(1,1);
   };

   50%{
      transform: scale(1.2,1.3);
   }
  
   
   to{
      transform: scale(1,1);
      
   }
}



@keyframes opacidad{
   from{
      opacity: 0%;
   }
   
   to{
      opacity: 100%;
   }
}

