<ion-content>
  <header class="header container-center">
    <div class="container-center">
      <!-- <img src="../../../assets/back.svg" routerLink=""> -->
      <h1>Farmacias</h1>
    </div>
  </header>
  <section class="body">
    <div id="mapId" style="width: 100%; height: 100%;">
    </div>
    <input id="buscador" type="text" placeholder="Busca en una calle o municipio">
    <ion-icon name="search-outline"></ion-icon>
    <button id="buscarEnMapa">Buscar</button>
  </section>  
</ion-content>