/// aca no hace scroll ni dios

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  ion-content {
    overflow: hidden;
    --overflow: hidden;
  }
  
  
  .scroll-content {
    overflow: hidden;
  }
    ion-infinite-scroll.md.infinite-scroll-enabled.hydrated {
        overflow: scroll!important;
        height: 100%!important;
      }  

//////////

#mapId {
    border-radius: var(--border_radius-header) var(--border_radius-header) 0 0;    
    width: 100vw;
    height: 77.5vh;
}

#buscador {
    width: 80%;
    height: 40px; 
    position: absolute;
    left: 10%;
    top: 5%;    
    background-color: white;    
    border-radius: 20px;
    z-index: 1000;
    font-size: large;
    padding: 15px 45px;
}

#buscarEnMapa {
    background-color: rgb(var(--primary_color));
    width: 40%;    
    position: absolute;
    left: 30%;
    top: 75%;
    border-radius: 20px;
    padding: 15px;
    z-index: 1000;
    color: rgb(var(--color_white));
    font-size: large;
    font-weight: bold;
}

ion-icon {
    position: absolute;
    top:6.5%;
    left: 14%;
    z-index: 1500;
    font-size: 25px;
    opacity: 0.5;    
}