<ion-content>
  <header class="header container-center">
    <div class="container-center">
      <img src="../../../assets/back_claro.svg" routerLink="/home">
      <h1>Configuración</h1>
    </div>
  </header>

  <section class="body display-start">
    <article class="container">
      <div class="icono">
        <img src="/assets/icon/configuracion/Perfil.svg" routerLink="/home">
      </div>
      <div class="titulo">
        <p>Perfil</p>
      </div>
      <div class="flecha"> <img src="/assets/icon/configuracion/arrow-front.svg" routerLink="/home"></div>

    </article>

    <article class="container">
      <div class="icono">
        <img src="/assets/icon/configuracion/contactos.svg" routerLink="/home">


      </div>

      <div class="titulo">
        <p>Contactos</p>
      </div>
      <div class="flecha"> <img src="/assets/icon/configuracion/arrow-front.svg" routerLink="/home"></div>

    </article>

    <article class="container">
      <div class="icono">
        <img src="/assets/icon/configuracion/ayuda.svg" routerLink="/home">
      </div>
      <div class="titulo">
        <p>Ayuda</p>
      </div>
      <div class="flecha"> <img src="assets/icon/configuracion/arrow-front.svg" routerLink="/home"></div>

    </article>

    <article class="container">
      <div class="icono">
        <img src="assets/icon/configuracion/Equipo.svg " routerLink="/home">
      </div>
      <div class="titulo">
        <p>Equipo</p>
      </div>
      <div class="flecha"> <img src="assets/icon/configuracion/arrow-front.svg" routerLink="/home"></div>

    </article>
  </section>


</ion-content>

<!-- <ion-content>
  <header class="header container-center">
    <div class="container-center">
      <img src="../../../assets/back_claro.svg" routerLink="/home">
      <h1>Configuración</h1>
    </div>
  </header>
    <section class="body display-around">
      <article class="seccion display-center" routerLink="/configuracion/perfil">
        <img src="../../../assets/user (1).png">
        <p>Perfil</p>
      </article>
      <article class="seccion display-center" routerLink="contactos">
        <img src="../../../assets/contact-book.png">
        <p>Contactos</p>
      </article>
      <article class="seccion display-center">
        <img src="../../../assets/information.png" routerLink="/inicio-onboarding/onboarding">
        <p>Ayuda</p>
      </article>
    </section>
</ion-content> -->