<ion-content>
  <header class="header container-center">
    <div class="container-center">
      <img src="../../../assets/back_claro.svg" routerLink="/home">
      <h1>Configuración</h1>
    </div>
  </header>
    <section class="body display-around">
      <article class="seccion display-center" routerLink="/configuracion/perfil">
        <img src="../../../assets/user (1).png">
        <p>Perfil</p>
      </article>
      <article class="seccion display-center" routerLink="contactos">
        <img src="../../../assets/contact-book.png">
        <p>Contactos</p>
      </article>
      <article class="seccion display-center">
        <img src="../../../assets/information.png">
        <p>Ayuda</p>
      </article>
    </section>
</ion-content>
