<ion-content>  
  <app-cabecera [titulo]="nombreCabecera" [iconoAtras]="icono" [rutaAtras]="rutaAtras"></app-cabecera>
  <section class="body display-start">
    <article routerLink="perfil" class="container">
      <div class="icono">
        <img src="/assets/icon/configuracion/Perfil.svg">
      </div>
      <div class="titulo">
        <p>Perfil</p>
      </div>
      <div class="flecha"> <img src="/assets/icon/configuracion/arrow-front.svg"></div>

    </article>

    <!-- //// //// CONTACTOS //// //// //// ////  -->

    <article routerLink="contactos" class="container">
      <div class="icono">
        <img src="/assets/icon/configuracion/contactos.svg" routerLink="contactos">
      </div>

      <div class="titulo">
        <p>Contactos</p>
      </div>
      <div class="flecha"> <img src="/assets/icon/configuracion/arrow-front.svg" routerLink="/home"></div>

    </article>

    <!-- //// //// AYUDA //// //// //// ////  -->

    <article routerLink="/inicio-onboarding/onboarding" class="container">
      <div class="icono">
        <img src="/assets/icon/configuracion/ayuda.svg" routerLink="/home">
      </div>
      <div class="titulo">
        <p>Ayuda</p>
      </div>
      <div class="flecha"> <img src="assets/icon/configuracion/arrow-front.svg" routerLink="/home"></div>

    </article>

    <!-- //// //// EQUIPO //// //// //// ////  -->

    <article routerLink="equipo" class="container">
      <div class="icono">
        <img src="assets/icon/configuracion/Equipo.svg " routerLink="/home">
      </div>
      <div class="titulo">
        <p>Equipo</p>
      </div>
      <div class="flecha"> <img src="assets/icon/configuracion/arrow-front.svg" routerLink="/home"></div>

    </article>
  </section>
</ion-content>