// CONTENT

p {
    color: white;
    margin: 0;
    font-size: 18px;
    width: auto;
    margin: 5px;
}

.seccion {
    background-color: rgb(var(--primary_color));
    width: 127px;
    height: 120px;
    margin: auto;
    border-radius: 25px;
}

.seccion:active {
    background-color: rgb(var(--primary_color_medium));
    transition: background-color .15s ease-in-out;
}