<ion-content>
  <section class="container-center todo">
    <article>
      <div class="display-center">
        <h2>Contacto modificado</h2>
        <p class="parrafo">Acabas de editar un contacto</p>
      </div>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="container-center">
            <button routerLink="/landing" class="but" (click)="closeModal()">Ir a Contactos</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </article>
  </section>  
</ion-content>