/// aca no hace scroll ni dios

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  ion-content {
    overflow: hidden;
    --overflow: hidden;
  }
  
  
  .scroll-content {
    overflow: hidden;
  }
    ion-infinite-scroll.md.infinite-scroll-enabled.hydrated {
        overflow: scroll!important;
        height: 100%!important;
      }  

//////////

ion-content h2{
    color: rgb(var(--secundary_color_title));
}

.but{
    margin-top: 25px;
    width:132px;
    max-width: 132px;
}

.todo {
    width: 100%;
    height: 100%;
}

// .parrafo {
//     width: 80%;
//     text-align: justify;
// }

.modal-header {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    margin-bottom:0px;
}
