<ion-content>
  <!-- Header -->
  <app-cabecera [titulo]="nombreCabecera" [iconoAtras]="icono" [rutaAtras]="rutaAtras"></app-cabecera>

  <!-- Body -->
  <section class="body">

    <form #aniadirMedicamentoForm="ngForm">

      <ion-grid>
        <!-- Nombre del medicamento -->
        <ion-row class="ion-justify-content-center grupo-registro">
          <ion-col size="10">
            <ion-label for="nombreMedicamento">Nombre del medicamento</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="ion-justify-content-center">
            <input type="text" 
              [(ngModel)]="medicamento.nombre" 
              #nombreMedicamento="ngModel"
              placeholder="Nombre del medicamento" 
              title="Medicamento que buscas"
              name="nombreMedicamento" 
              required 
              autocomplete="on" 
              minlength="5" 
              maxlength="100"  
              pattern = "^([A-zÁ-ÿ]+[ .,/-]*)+"
              class="registro-borde form-group ng-untouched ng-pristine">
          </ion-col>
          <ion-col size="10" [hidden]="nombreMedicamento.valid || nombreMedicamento.pristine"
          class="show-alert">
            <p>Nombre medicamento no válido</p>
          </ion-col>
        </ion-row>

        <!-- Dosis y frecuencia -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="4">
            <ion-label for="dosis">Dosis en cada toma</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label for="frecuencia">Frecuencia en horas</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="4">
            <input type="number" 
            inputmode="numeric" 
              [(ngModel)]="medicamento.dosisPorToma" 
              #dosis="ngModel"
              placeholder="Cantidad toma" 
              title="Qué cantidad de medicamento tomar" 
              name="dosis"
              required 
              class="registro-borde form-group ng-untouched ng-pristine"
              min="0"
              >
          </ion-col>
          <ion-col size="4">
            <input type="number" 
              inputmode="numeric" 
              [(ngModel)]="medicamento.frecuencia" 
              #frecuencia="ngModel"
              placeholder="Frecuencia" 
              title="Cada cuanto tiempo tomas el medicamento" 
              name="frecuencia" 
              required
              autocomplete="on" 
              min="0"
              class="registro-borde form-group ng-untouched ng-pristine">
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-around">
          <ion-col size="4" [hidden]="dosis.valid || dosis.pristine"
          class="show-alert">
            <p>Dosis no válida</p>
          </ion-col>
          <ion-col size="4" [hidden]="frecuencia.valid || frecuencia.pristine"
          class="show-alert">
            <p>Frecuencia no válida</p>
          </ion-col>
        </ion-row>

        <!-- Cantidad Inicial y Primera toma -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="4">
            <ion-label for="cantidadInicial">Cantidad restante</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label for="primeraToma">Hora de referencia</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="4">
            <input type="number" 
              inputmode="numeric" 
              [(ngModel)]="medicamento.stock" 
              #cantidadInicials="ngModel"
              placeholder="Unidades" 
              title="Stock de medicamento" 
              name="cantidadInicial"
              autocomplete="on"
              min="0" 
              class="registro-borde form-group ng-untouched ng-pristine">
          </ion-col>
          <ion-col size="4">
            <ion-datetime displayFormat="HH:mm" 
              minuteValues="0,15,30,45" 
              [(ngModel)]="medicamento.fechaInicio"
              #primeraToma="ngModel" 
              placeholder="HH:MM" 
              title="Hora y minutos de tu primera toma"
              name="primeraToma" 
              autocomplete="on" 
              class="registro-borde form-group ng-untouched ng-pristine"></ion-datetime>            
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-around">
          <ion-col size="4" [hidden]="cantidadInicials.valid || cantidadInicials.pristine"
          class="show-alert">
            <p>Cantidad inicial no válida</p>
          </ion-col>
          <ion-col size="4" [hidden]="primeraToma.valid || primeraToma.pristine"
          class="show-alert">
            <p>Hora no válida</p>
          </ion-col>
        </ion-row>

        <!-- Comentarios -->
        <ion-row class="ion-justify-content-center grupo-registro">
          <ion-col size="10">
            <ion-label for="comentarios">Comentarios</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <textarea type="text" 
              [(ngModel)]="medicamento.comentarios" 
              #comentarios="ngModel"
              placeholder="Notas de la toma" 
              title="Notas de la toma" 
              rows="1"
              name="comentarios" 
              autocomplete="on" 
              class="borde-textarea form-group ng-untouched ng-pristine"
              minlength="10"
              maxlength="255"></textarea>
          </ion-col>
          <ion-col size="10" [hidden]="comentarios.valid || comentarios.pristine"
          class="show-alert">
            <p>Comentario no válido</p>
          </ion-col>
        </ion-row>

        <!-- Botones -->
        <ion-row class="grupo-registro grupo-botones">
          
          <!-- Botón Cancelar -->
          <ion-col size="5">
            <button (click)="aniadirMedicamentoForm.reset()" class="but-cancel">
              Cancelar
            </button>
          </ion-col>
        

          <!-- Botón Guardar -->
          <ion-col size="5" class="grupo-botones-start">
            <button (click)="onSubmit(aniadirMedicamentoForm)" class="but">
              Guardar
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </form>

  </section>

</ion-content>