/// aca no hace scroll ni dios

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  ion-content {
    overflow: hidden;
    --overflow: hidden;
  }
  
  
  .scroll-content {
    overflow: hidden;
  }
    ion-infinite-scroll.md.infinite-scroll-enabled.hydrated {
        overflow: scroll!important;
        height: 100%!important;
      }  

//////////


// Estilos Section Formulario
.body{
    padding-top: 40px;
}


.body form .grupo-registro{
    margin-top: 40px;
}

.but, .but-cancel {
    width: 132px;
    max-width: 132px;
}

.ng-touched.ng-dirty.ng-invalid:not(form){
  background-color: rgba(248, 142, 140,0.1);
  }
  
.show-alert
{
  background-color: rgba(var(--secundary_color_cancel),0.5);
}

.show-alert p{
  color: rgb(var(--primary_color));
  font-size:14px;
  font-weight: 500;
  padding:0.5rem;
}




