<ion-content>
  <div class="header-team">
    <div class="container-center arriba">
      <img src="/assets/back_claro.svg" routerLink="/home">
      <h1>Equipo</h1>
    </div>

    <div class="header-textos">
      <div class="header-titulo">
        <p>El equipo</p>

      </div>
      <div class="header-descripcion">
        <p>Gracias por visitar EasyPill! Conoce un poco más al equipo de Desarrollo</p>
      </div>
    </div>


  </div>
  <div class="perfiles-container">
    <div class="perfil Nacho">
      <div class="perfil-imagenNacho"> </div>
      <div class="perfil-info">
        <p class="nombre">Nacho Sáenz de Tejada</p>
        <p class="titulo">Junior Full Stack Developer</p>
      </div>
      <div class="perfil-enlaces">
        <a href="https://www.linkedin.com/in/nachosaenzdetejada/">
          <div class="linkedin"> </div>
        </a>
      </div>
    </div>

    <div class="perfil Kika">
      <div class="perfil-imagenKika"> </div>
      <div class="perfil-info">
        <p class="nombre">Kika Picon</p>
        <p class="titulo">Diseñadora & Fullstack Junior</p>
      </div>
      <div class="perfil-enlaces">
        <a href="https://www.linkedin.com/in/kpicong71/">
          <div class="linkedin"> </div>
        </a>

      </div>
    </div>

    <div class="perfil Antonio">
      <div class="perfil-imagenAnto"> </div>
      <div class="perfil-info">
        <p class="nombre">Antonio Harán</p>
        <p class="titulo">Visual Designer - Fullstack Junior</p>
      </div>
      <div class="perfil-enlaces">
        <a href="https://www.linkedin.com/in/antonioharan/">
          <div class="linkedin"> </div>
        </a>
      </div>
    </div>

    <div class="perfil Jaime">
      <div class="perfil-imagenJaime"> </div>
      <div class="perfil-info">
        <p class="nombre">Jaime Martorell</p>
        <p class="titulo">Junior Full Stack Developer</p>
      </div>
      <div class="perfil-enlaces">
        <a href="https://www.linkedin.com/in/jaimemartorell/">
          <div class="linkedin"> </div>
        </a>
      </div>
    </div>

    <div class="perfil Isabel">
      <div class="perfil-imagenIsabel"> </div>
      <div class="perfil-info">
        <p class="nombre">Isabel Rosales</p>
        <p class="titulo">Full-stack Developer Junior</p>

      </div>
      <div class="perfil-enlaces">
        <a href="https://www.linkedin.com/in/isabel-rosales-vereau/">
          <div class="linkedin"> </div>
        </a>
      </div>
    </div>

    <div class="perfil Dario">
      <div class="perfil-imagen"> </div>
      <div class="perfil-info">
        <p class="nombre">Dario Paucar</p>
        <p class="titulo">Full-stack Developer Junior</p>
      </div>
      <div class="perfil-enlaces">
        <a href="https://www.linkedin.com/in/dariopaucar/">
          <div class="linkedin"> </div>
        </a>




      </div>
    </div>


  </div>
</ion-content>