<ion-content>
  <div class="header-team">
    <div class="container-center arriba">
      <img src="/assets/back_claro.svg" routerLink="/home">
      <h1>Team</h1>
    </div>

    <div class="header-textos">
      <div class="header-titulo">
        <p>El equipo</p>

      </div>
      <div class="header-descripcion">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, labore.</p>
      </div>
    </div>


  </div>
  <div class="perfiles-container">
    <div class="perfil Dario">
      <div class="perfil-imagen"> </div>
      <div class="perfil-info">
        <p class="nombre">Dario Paucar</p>
        <p class="titulo">joven emprendedor</p>
      </div>
      <div class="perfil-enlaces">
        <div class="linkedin"> </div>


        <div class="email"> </div>


      </div>
    </div>



  </div>
</ion-content>