// .carMed{
//   background-color: rgb(var(--color_white));
//   border-radius: 17px;
//   max-width: 310px;
//   max-height: 150px;
//   box-shadow:  5px 11px 12px 2px rgba(0, 0, 0, 0.25);
// }

.container {
  max-width: 290px;
  max-height: 110px;

  display: grid; 
  grid-auto-flow: row dense; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 
    40%
    60%; 
  grid-template-rows: 70% 30%; 
  gap: 0% 0%; 
  grid-template-areas: 
    "img-card tituloMed"
    "img-card laboratorio"; 
  justify-content: center; 
  align-content: center; 
  align-items: center; 
}

.img-card { 
  grid-area: img-card; 
} 

.laboratorio { 
  grid-area: laboratorio;
  padding: 0 5px;
}
.nombre-lab{
  font-size:10px;
  font-weight: 500;
  margin:20px 0px 0px 0px;
}

.tituloMed {
  grid-area: tituloMed; 
  padding: 0 5px;
}
.nombre-med {
  font-size: 14px;
  color:rgb(var(--primary_color));
  font-weight:600;
  text-transform: uppercase;
  margin:0px;
}
