
.body{
    padding-top: 30px;
    // Es 20px por llevar logo
}

.pad-bottom{
    padding-bottom: 40px;
}

// #logoNegro{
//     width: 150px;
//     height: 50px;
// }
.logo-cabecera{
    width:50%;
}

.check
{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.check p.text-checkbox
{
    // margin-top: -25px;
    font-size: 11px;
    padding-right: 50px;
    // text-decoration: underline;
    // color:rgb(var(--primary_color));
    // font-weight:bold;
}

.circle{
    width: 35px;
    height: 35px;
    padding: 8px;
}

.body form .grupo-registro{
    margin-top: 40px;
}

.body form ion-input.registro-borde
{
    border-bottom: 2px solid rgb(var(--primary_color));
}

.btn .but
{
    width: 189px;
    height: 34px;
    margin-top: 20px;
}

.body > form > ion-grid > .check > ion-checkbox.checkBoton {
    --background-checked: rgb(var(--primary_color_medium));
    --border-color-checked: rgb(var(--primary_color_medium));
}

.check .enlace-legales{
    color: rgba(var(--primary_color),1);
    text-decoration: underline;
    font-size: var(--font_size);
}

.ng-touched.ng-dirty.ng-invalid:not(form){
    background-color: rgba(248, 142, 140,0.1);
    }
    
.show-alert
{
    background-color: rgba(var(--secundary_color_cancel),0.5);
}

.show-alert p{
    color: rgb(var(--primary_color));
    font-size:14px;
    font-weight: 500;
    padding:0.5rem;
}
