<ion-content>
  <app-cabecera [titulo]="nombreCabecera" [iconoAtras]="icono" [rutaAtras]="rutaAtras"></app-cabecera>  
  
  <section class="body">
      <!-- NG FOR PARA CONTACTOS GUARDADOS -->
    <ng-container *ngIf="contactos else isElse" >
      <ng-container *ngFor="let contacto of contactos">
        <div class="display-around">
          <div class="medicina-next" routerLink="contacto" (click)="guardarPosicion(contacto.posicionArray)">
            <div class="izquierda">
              <div class="medicina-nombre">
                <p>{{contacto.nombreContacto}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #isElse>
      <article class="medicina-next">
        <div class="izquierda">
          <div class="medicina-nombre">
            <p>No hay contactos guardados</p>
          </div>
        </div>
      </article>
    </ng-template>

    <article class="container-center">
      <button class="but container-center" routerLink="anadir-contacto">Añadir contacto</button>
    </article>
    
  
  </section>
  </ion-content>
