// IMPORT

@import "../../medicamentos/medicamentos.page.scss";

// BODY
.body {
    height: var(--body_height);
}

.medicina-nombre > p {
    color: rgb(var(--color_black));
}

.medicina-next {
    margin: 20px;
    background-color: rgb(var(--primary_color_light));
}

.but {
    margin: 10px;
}