<ion-content>
  <!-- Header -->
  <header class="header container-center">
    <div class="container-center">
      <img src="../../../assets/back_claro.svg" routerLink="/medicamentos">
      <h1>Tu Medicamento</h1>
    </div>
  </header>

  <!-- Body -->
  <section class="body">

    <form #aniadirMedicamentoForm="ngForm">

      <ion-grid>
        <!-- Nombre del medicamento -->
        <ion-row class="ion-justify-content-center grupo-registro">
          <ion-col size="10">
            <ion-label for="nombreMedicamento">Nombre del medicamento</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="ion-justify-content-center">

            <input value={{MedicamentoNombre}} readonly={{lecturaInput}} type="text" name="nombreMedicamento"
              class="registro-borde">
          </ion-col>
        </ion-row>

        <!-- Dosis y frecuencia -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="4">
            <ion-label for="dosis">Dosis</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label for="frecuencia">Frecuencia</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="4">
            <input disabled type="text" name="dosis" required class="registro-borde" value={{MedicamentoDosis}}
              placeholder={{MedicamentoDosis}}>
            <!-- {{MedicamentoDosis}} -->
          </ion-col>
          <ion-col size="4">
            <input readonly type="text" name="frecuencia" required autocomplete="on" value={{MedicamentoFrecuencia}}
              placeholder={{MedicamentoFrecuencia}} class="registro-borde">
            <!-- {{MedicamentoFrecuencia}} -->
          </ion-col>
        </ion-row>

        <!-- Cantidad Inicial y Primera toma -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="4">
            <ion-label for="cantidadInicial">Cantidad Inicial</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label for="primeraToma">Primera Toma</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="4">
            <input readonly type="text" name="cantidadInicial" autocomplete="on" value={{MedicamentoCantInicial}}
              placeholder={{MedicamentoCantInicial}} class="registro-borde">
            <!-- {{MedicamentoCantInicial}} -->
          </ion-col>
          <ion-col size="4">
            <input readonly type="text" name="cantidadInicial" autocomplete="on" class="registro-borde"
              value={{MedicamentoPrimeraToma}} placeholder={{MedicamentoPrimeraToma}}>
            <!-- {{MedicamentoPrimeraToma}} -->
            <!-- <ion-datetime display-format="13" picker-format="00" [(ngModel)]="medicamento.primeraToma"
              #primeraToma="ngModel" title="Hora y minutos de tu primera toma" name="primeraToma" autocomplete="on"
              class="registro-borde">{{MedicamentoPrimeraToma}}</ion-datetime> -->
          </ion-col>
        </ion-row>

        <!-- Comentarios -->
        <ion-row class="ion-justify-content-center grupo-registro">
          <ion-col size="10">
            <ion-label for="comentarios">Comentarios</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <textarea readonly type="text" name="comentarios" autocomplete="on" value="{{MedicamentoComentarios}}"
              placeholder="{{MedicamentoComentarios}}" class="borde-textarea" rows="1">
              <!-- {{MedicamentoComentarios}} -->
            </textarea>
          </ion-col>
        </ion-row>

        <!-- Botones -->
        <ion-row class="grupo-registro grupo-botones">
          <!-- Botón Ver Prospecto -->
          <ion-col size="5">
            <button routerLink="/prospecto" class="but-ver">
              Ver Prospecto
            </button>
          </ion-col>

          <ion-col size="5" class="grupo-botones-start">
            <!-- Botón Editar -->
            <button class="but" routerLink="ediccion">
              Editar
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </form>

  </section>

</ion-content>