<ion-content>
  <!-- Header -->
  <header class="header container-center">
    <div class="container-center">
      <img src="../../../assets/back_claro.svg" routerLink="/medicamentos">
      <h1>Tu tratamiento</h1>
    </div>
  </header>

  <!-- Body -->
  <section class="body">

    <form #aniadirMedicamentoForm="ngForm">

      <ion-grid>
        <!-- Nombre del medicamento -->
        <ion-row class="ion-justify-content-center grupo-registro">
          <ion-col size="10">
            <ion-label for="nombreMedicamento">Nombre del medicamento</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="ion-justify-content-center">

            <input value={{medicamento.nombre}} readonly={{lecturaInput}} type="text" name="nombreMedicamento"
              class="registro-borde">
          </ion-col>
        </ion-row>

        <!-- Dosis y frecuencia -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="4">
            <ion-label for="dosis">Dosis en cada toma</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label for="frecuencia">Frecuencia en horas</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="4">
            <input disabled type="number" inputmode="numeric" name="dosis" required class="registro-borde" value={{medicamento.dosisPorToma}}
              placeholder={{medicamento.dosisPorToma}}>
           
          </ion-col>
          <ion-col size="4">
            <input readonly type="number" inputmode="numeric" name="frecuencia" required autocomplete="on" value={{medicamento.frecuencia}}
              placeholder={{medicamento.frecuencia}} class="registro-borde">
            
          </ion-col>
        </ion-row>

        <!-- Cantidad Inicial y Primera toma -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="4">
            <ion-label for="cantidadInicial">Cantidad restante</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label for="primeraToma">Hora de referencia</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="4">
            <input readonly type="number" inputmode="numeric" name="cantidadInicial" autocomplete="on" value={{medicamento.stock}}
              placeholder={{medicamento.stock}} class="registro-borde">            
          </ion-col>
          <ion-col size="4">            
            <ion-datetime displayFormat="HH:mm" minuteValues="0,15,30,45" [(ngModel)]="medicamento.fechaInicio"
              #primeraToma="ngModel" placeholder="HH:MM" title="Hora y minutos de tu primera toma"
              name="primeraToma" autocomplete="on" class="registro-borde"></ion-datetime>           
            
          </ion-col>
        </ion-row>

        <!-- Comentarios -->
        <ion-row class="ion-justify-content-center grupo-registro">
          <ion-col size="10">
            <ion-label for="comentarios">Comentarios</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <textarea readonly type="text" name="comentarios" autocomplete="on" value="{{medicamento.comentarios}}"
              placeholder="{{medicamento.comentarios}}" class="borde-textarea" rows="1">              
            </textarea>
          </ion-col>
        </ion-row>

        <!-- Botones -->
        <ion-row class="grupo-registro grupo-botones">
          <!-- Botón Ver Prospecto -->
          <ion-col size="5">
            <button routerLink="/prospecto" class="but-ver">
              Ver Prospecto
            </button>
          </ion-col>

          <ion-col size="5" class="grupo-botones-start">
            <!-- Botón Editar -->
            <button class="but" routerLink="ediccion">
              Editar
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </form>

  </section>

</ion-content>