:root {
  --color_black: 0, 0, 0;
  --color_white: 255, 255, 255;
  --primary_color: 111, 0, 255;
  --primary_color_medium: 183, 128, 255;
  --primary_color_light: 231, 216, 251;
  --secundary_color_cancel: 255, 192, 69;
  --secundary_color_title: 111, 136, 252;
  --third_color: 89, 33, 161;
  --header_height: 85px;
  --body_height: calc(100vh - 85px);
  --border_radius-notification: 11px;
  --border_radius-button: 17px;
  --border_radius-header: 36px;
  --font_size: 11px;
}

/* ----- Containers ----- */
[class*="container"] {
  display: flex;
  flex-direction: row;
}
[class*="container-center"] {
  align-items: center;
  justify-content: center;
}
[class*="container-around"] {
  align-items: center;
  justify-content: space-around;
}
​
[class*="display"] {
  display: flex;
  flex-direction: column;
}
[class*="display-center"] {
  align-items: center;
  justify-content: center;
}
[class*="display-around"] {
  align-items: center;
  justify-content: space-around;
}
​
/* ----- Designs ----- */
[class*="button"] {
  padding: 7px;
  margin: 0 9px;
  // border-radius: var(--border_radius-button);
  background-color: var(--primary_color);
}
​
[class*="btn"]:hover {
  background-color: rgba(var(--secundary_color_cancel), 0.3);
}