//		Imports

@import "../../../../theme/variables.scss";
@import "../../../../estilosGenerales.scss";

//		Diseño Header

.header {
    height: calc(var(--header_height) + 30px);
    background-color: rgb(var(--primary_color));
    position: fixed;
    width: 100%;
}

.header > div > img {
    left: 20px;
    position: absolute;
    width: 10px;
    height: 20px;
}

.header > div > h1 {
    color: rgb(var(--color_white));
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.body {
    position: absolute;
    height: var(--body_height);
    border-radius: var(--border_radius-header) var(--border_radius-header) 0 0;
    width: 100%;
    top: var(--header_height);
    background-color: rgb(var(--color_white));
    z-index: 1;
}

.container-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

// Contenido
#detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 40px 0 40px 0;
}
#tit-med{
    width: 70%;
    font-weight: 700;
    font-size:16px;
    text-align: center;
    color: rgba(var(--primary_color),0.7);
    text-transform: uppercase;
}

img{
    margin: 30px auto;
    max-width: 50vw;
    display:block;
}

details{
    width:100%;
    height:100%;
    background-color: rgba(var(--primary_color),0.5);
}
// details:last-of-type{
//     padding-bottom: 40px;
// }

details .tit-acordeon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size:12px;
    padding: 15px 8%;
    border-bottom: 2px solid rgba(255,255,255,0.5);
}

details .tit-acordeon::after{
    content:url('../../../../assets/back_claro_down.svg');
    display:inline-block;
    width: 12px;
    height:auto;
    margin-left: 20px;
    margin-top:5px;
}

// details .text-acordeon{
//     background-color: white;
//     padding: 15px 10%;
//     font-size: 12px;
// }

ion-content p.text-acordeon{
    background-color: white;
    padding: 15px 10%;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    text-align: justify;
}

ion-content p.text-acordeon p, ion-content p.text-acordeon a, 
ion-content p.text-acordeon li, ion-content p.text-acordeon span{

    font-size: 12px;
    line-height: 18px;  
    text-align: justify;
}

.alerta{
    background-color: rgba(var(--secundary_color_cancel),0.7);
    border-radius:var(--border_radius-notification);
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    max-width:80%;
    margin: 40px auto 40px auto;
    padding: 40px 20px;
}

.alerta p{

    color:rgb(var(--primary_color));
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}
