<!-- <ion-header>
  <ion-toolbar>
    <ion-title>detalleProspecto</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- Header -->
  <header class="header container-center">
    <div class="container-center">
      <img src="../../../../assets/back_claro.svg" routerLink="/prospecto">
      <h1>Prospectos</h1>
    </div>
  </header>
  <!-- Body -->
  <section class="body">
      <!-- NG FOR PARA MEDICAMENTO TRAIDO DE RESULTADOS -->

      <!-- Si hay prospecto-->
      <ng-container *ngIf="miProspecto else isElse" > 

        <article id="detalle">

          <h3 id="tit-med">
            {{miProspecto.nombreMed}}               
          </h3>
          <img [src]="miProspecto.srcfoto" alt="">
          
          <!-- Acordeon  -->
          <details *ngFor="let item of arrSecciones; let indice = index">
            <summary><h4 class="tit-acordeon">{{ (indice+1) +". " + arrSecciones[indice].titulo}}</h4></summary>
            <p class="text-acordeon" [innerHTML]="arrSecciones[indice].contenido"></p>
          </details>

        </article>
        
      </ng-container>

      <ng-template #isElse>

        <div class="alerta">
          <p>No hay prospecto que mostrar</p>
        </div>
        
      </ng-template> 
  </section>

</ion-content>
