ion-content {
    --overflow: hidden;
}

// Estilos Section Formulario
.body{
    padding-top: 40px;
}

// .body form ion-label{
//     font-weight:700;
// }

.body form .grupo-registro{
    margin-top: 40px;
}

// input {
//     color: rgb(var(secundary_color_title));
// }

// .body form input.registro-borde
// {
//     border-bottom: 2px solid rgb(var(--primary_color));
// }

// .borde-textarea
// {
//     border-bottom: 2px solid rgb(var(--primary_color));
//     font-size: var(--font-size-placeholder);
//     resize: none;
//     width:100%;
//     padding: 5px;
//     margin-top:10px;
// }


// .grupo-botones{
//     display: flex;
//     justify-content: space-evenly;
// }

// .grupo-botones ion-col{
//     display: flex;
//     justify-content: end;
// }

// .grupo-botones ion-col.grupo-botones-start{
//     justify-content: start;
// }

.but, .but-cancel, .but-ver {
    width: 132px;
    max-width: 132px;
}
