// Estilos Section Formulario
.body{
    padding-top: 40px;
}

// .body form ion-label{
//     font-weight:700;
// }

.body form .grupo-registro{
    margin-top: 40px;
}

.but, .but-cancel, .but-ver {
    width: 132px;
    max-width: 132px;
}

.ng-touched.ng-dirty.ng-invalid:not(form){
    background-color: rgba(248, 142, 140,0.1);
    }
    
.show-alert
{
    background-color: rgba(var(--secundary_color_cancel),0.5);
}

.show-alert p{
    color: rgb(var(--primary_color));
    font-size:14px;
    font-weight: 500;
    padding:0.5rem;
}
