<ion-content>
  <!-- Header -->  
  <app-cabecera [titulo]="nombreCabecera" [iconoAtras]="icono" [rutaAtras]="rutaAtras"></app-cabecera>
  <!-- Body -->
  <section class="body">

    <form #aniadirMedicamentoForm="ngForm">
      <ion-grid>
        <!-- Nombre del medicamento -->
        <ion-row class="ion-justify-content-center grupo-registro">
          <ion-col size="10">
            <ion-label for="nombreMedicamento">Nombre del medicamento</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="ion-justify-content-center">
            <input [(ngModel)]="medicamento.nombre" 
              #nombreMedicamento="ngModel" 
              type="text"
              name="nombreMedicamento"minlength="5" 
              maxlength="100"  
              pattern = "^([A-zÁ-ÿ]+[ .,/-]*)+"
              class="registro-borde form-group ng-untouched ng-pristine">            
          </ion-col>
          <ion-col size="10" [hidden]="nombreMedicamento.valid || nombreMedicamento.pristine"
          class="show-alert">
            <p>Nombre medicamento no válido</p>
          </ion-col>
        </ion-row>

        <!-- Dosis y frecuencia -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="4">
            <ion-label for="dosis">Dosis por toma</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label for="frecuencia">Frecuencia en horas</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="4">
            <input type="number" 
              inputmode="numeric" 
              name="dosis" 
              required 
              class="registro-borde form-group ng-untouched ng-pristine"
              min="0"
              [(ngModel)]="medicamento.dosisPorToma" 
              #dosis="ngModel">
            
          </ion-col>
          <ion-col size="4">
            <input type="number" 
              inputmode="numeric" 
              name="frecuencia" 
              required 
              autocomplete="on"
              class="registro-borde form-group ng-untouched ng-pristine"
              min="0" 
              [(ngModel)]="medicamento.frecuencia" 
              #frecuencia="ngModel">            
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-around">
          <ion-col size="4" [hidden]="dosis.valid || dosis.pristine"
          class="show-alert">
            <p>Dosis no válida</p>
          </ion-col>
          <ion-col size="4" [hidden]="frecuencia.valid || frecuencia.pristine"
          class="show-alert">
            <p>Frecuencia no válida</p>
          </ion-col>
        </ion-row>

        <!-- Cantidad Inicial y Primera toma -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="4">
            <ion-label for="cantidadInicial">Cantidad Inicial</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label for="primeraToma">Primera Toma</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="4">
            <input type="number" 
              inputmode="numeric" 
              name="cantidadInicial" 
              autocomplete="on"
              class="registro-borde form-group ng-untouched ng-pristine"  
              min="0"
              [(ngModel)]="medicamento.stock" 
              #cantidadInicials="ngModel">
          </ion-col>
          <ion-col size="4">
            <ion-datetime displayFormat="HH:mm" 
              minuteValues="0,15,30,45" 
              [(ngModel)]="medicamento.fechaInicio"
              #primeraToma="ngModel" 
              placeholder="HH:MM" 
              title="Hora y minutos de tu primera toma"
              name="primeraToma" 
              autocomplete="on" 
              class="registro-borde form-group ng-untouched ng-pristine"></ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-around">
          <ion-col size="4" [hidden]="cantidadInicials.valid || cantidadInicials.pristine"
          class="show-alert">
            <p>Cantidad inicial no válida</p>
          </ion-col>
          <ion-col size="4" [hidden]="primeraToma.valid || primeraToma.pristine"
          class="show-alert">
            <p>Hora no válida</p>
          </ion-col>
        </ion-row>

        <!-- Comentarios -->
        <ion-row class="ion-justify-content-center grupo-registro">
          <ion-col size="10">
            <ion-label for="comentarios">Comentarios</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <textarea type="text" 
              name="comentarios" 
              autocomplete="on" 
              rows="1"
              class="borde-textarea form-group ng-untouched ng-pristine" 
              [(ngModel)]="medicamento.comentarios" 
              #comentarios="ngModel"
              minlength="10"
              maxlength="255">
              </textarea>
          </ion-col>
          <ion-col size="10" [hidden]="comentarios.valid || comentarios.pristine"
          class="show-alert">
            <p>Comentario no válido</p>
          </ion-col>
        </ion-row>

        <!-- Botones -->
        <ion-row class="grupo-registro grupo-botones">
          <!-- Botón Eliminar -->
          <ion-col size="5">
            <button class="but-cancel"
            (click)="eliminarMedicamento(medicamento.idmedicamentos)">
              Eliminar
            </button>
          </ion-col>

          <!-- Botón Guardar -->
          <ion-col size="5" class="grupo-botones-start">
            <button class="but" (click)="onSubmit(aniadirMedicamentoForm)">
              Guardar
            </button>
          </ion-col>
        </ion-row>



      </ion-grid>

    </form>

  </section>

</ion-content>