<ion-app>

  <ion-router-outlet></ion-router-outlet>
  <!-- <ng-container *ngIf="mostrar"> -->
  <!-- <ng-container [ngStyle]="(mostrar) ? {'visibility': 'visible'} : {'visibility': 'hidden'}"> -->
  <!-- <ng-container [ngStyle]="('mostrar') ? {'display': 'block'} : {'display': 'none'}"> -->
  <!-- <ng-container [style.visibility]="(mostrar)? 'hidden': 'visible'"> -->
  <!-- <ng-container [ngStyle]="('mostrar') ? {'display': 'block'} : {'display': 'none'}">
    <h1 style="z-index: 100000000; position: absolute;">hola</h1>
  </ng-container> -->
  <!-- <div [style.visibility]="(mostrar)? 'visible': 'hidden'"> -->
  <!-- <div [style.visibility]="(mostrar)? 'hidden': 'visible'"> -->
  <!-- <ng-template [ngClass]="(mostrar) ? 'aparecer': 'sacar' "> -->
  <app-mockup></app-mockup>
  <app-navbar></app-navbar>
  <!-- </div> -->


  <!-- </div> -->

</ion-app>