<ion-content>
  <header class="header container-center">
    <div class="container-center">
      <img src="../../../assets/back_claro.svg" (click)="goBack()">
     <h1>Iniciar Sesión</h1>
    </div>
</header>

<section class="body">
  <!-- Logo NUEVO-->
  <article class="display-center">
    <img src="../../../../../assets/logoEasypill_ok_fblanco.svg" alt="Logo Easypill" class= "logo-small">
  </article>

  <!-- Formulario -->
  <form #iniciarForm="ngForm">

    <ion-grid>

      <ion-row class="ion-justify-content-center grupo-registro">
        <ion-col size="10">
          <ion-label for="email">Email</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="10" class="ion-justify-content-center">
          <ion-input type="text" [(ngModel)]="usuario.email" 
            #email="ngModel" 
            placeholder="emailejemplo@gmail.com"
            title="email"
            name="email" required
            autocomplete="on"
            class="registro-borde"></ion-input>
        </ion-col>
      </ion-row>
        <ion-row class="ion-justify-content-center grupo-registro">
        <ion-col size="10">
          <ion-label for="contrasenia">Contraseña</ion-label>
        </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="ion-justify-content-center">
            <ion-input type="password" [(ngModel)]="usuario.contrasenia" 
              #contrasenia="ngModel" 
              placeholder="***********"
              title="contrasenia"
              name="contrasenia" required
              autocomplete="on"
              class="registro-borde"></ion-input>
          </ion-col>
        </ion-row>

      <div size="10" class="display-center iniciar_but">
        <button (click)="onSubmit(iniciarForm)" expand="block" 
        class="but" fill="clear" shape="round" routerLink="/inicio-onboarding">
         Aceptar
        </button>
        <button expand="block" 
        class="but-cancel" fill="clear" shape="round">
          He olvidado mi contraseña
        </button>
      </div>

    </ion-grid> 
  </form>
  
  </section>
</ion-content>