#logoNegro{
    width: 150px;
    height: auto;
}

.logo-small{
    height:15vh;
    max-height: 110px;
    margin-bottom:40px;
}

.body > div > p{
    color:rgb(var(--color_black));
    font-weight:bold;
    font-size:25px;
}
.body{
    padding-top: 20px;
    // En resto de paginas suele ser 40px pero aquí
    // por el logo interesa 20px
}

.body form .grupo-registro:first-of-type{
    margin-top: 20px;
}

.body form .grupo-registro{
    margin-top: 40px;
}

.body form input.registro-borde
{
    border-bottom: 2px solid rgb(var(--primary_color));
}
.but{
    // margin-top: 130px;
    // margin-top: 75px;
    max-width:186px;
    width:186px;
}
.but-cancel{
    max-width:186px;
    min-width: 60%;
    font-size:14px;
    height: 34px;
    margin-top: 25px;
    background-color: rgb(var(--primary_color_light));
}

.iniciar_but{
    margin-top: 60px;
}


.ng-touched.ng-dirty.ng-invalid:not(form){
    background-color: rgba(248, 142, 140,0.1);
    }
    
.show-alert
{
    background-color: rgba(var(--secundary_color_cancel),0.5);
}

.show-alert p{
    color: rgb(var(--primary_color));
    font-size:14px;
    font-weight: 500;
    padding:0.5rem;
}