ion-content {
    --overflow: hidden;
}

#logoNegro{
    width: 150px;
    height: auto;
}

.logo-small{
    height:15vh;
    max-height: 110px;
    margin-bottom:40px;
}

.body > div > p{
    color:rgb(var(--color_black));
    font-weight:bold;
    font-size:25px;
}
.body{
    padding-top: 20px;
    // En resto de paginas suele ser 40px pero aquí
    // por el logo interesa 20px
}

.body form .grupo-registro:first-of-type{
    margin-top: 20px;
}

.body form .grupo-registro{
    margin-top: 40px;
}

.body form input.registro-borde
{
    border-bottom: 2px solid rgb(var(--primary_color));
}
.but{
    max-width:186px;
    width:186px;
}

.iniciar_but{
    margin-top: 60px;
}

#texto {
    padding: 40px;
    color: rgb(var(--primary_color));
    text-align: center;
}