#logo{
    height: 65vw;
    width: 65vw;
}
#iniciar{
    margin-top: 80px;
    width: 232px;
    height: 57px;
    background-color: rgb(var(--primary_color_medium));
    border-radius: 17px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(var(--color_white));
}
#crear{
    width: 232px;
    height: 57px;
    background-color: rgb(var(--color_white));
    border-radius: 17px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(var(--primary_color));
    margin-top:55px;
}
ion-content{
    // --ion-background-color:rgb(var(--primary_color));
    --background: none;
    background-image: url("/assets/login/background-02.svg");
}

.login{
   
    animation: moverse 0.3s ease-in-out;
}


.register{
   
    animation: moverse 0.3s ease-in-out;
}

#logo{
    animation: moverseLogo 0.3s ease-in-out;
}

@keyframes moverse{
    0%{
        transform: translateY(30%);
        opacity: 0%;
    }

    100%{
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes moverseLogo{
    0%{
        transform: translateY(15%);
        opacity: 0%;
    }

    100%{
        transform: translateY(0%);
        opacity: 100%;
    }
}
