<ion-content>
  <app-cabecera [titulo]="nombreCabecera"></app-cabecera>
  
  <section class="body">
    <article id="container-scroll" class="container-center">   
      <img id="atras" src="../../../assets/back_oscuro.svg">
      <div id="scrollmenu">      
        <ng-container *ngFor="let dia of diasOrdenados; let i = index">
          <div class="dia" routerLink="lunes" (click)="diaSolicitado(i)">{{dia}}</div>          
        </ng-container>      
      </div>    
      <img id="adelante" src="../../../assets/back_oscuro.svg">
    </article> 
    <!-- MEDICAMENTOS GUARDADOS -->
    <ng-container *ngIf="medicamentos.length!=0 else isElse">
      <ng-container *ngFor="let medicamento of medicamentos; let i = index;">
        <div class="display-around">
          <div class="medicina-next color-medio" routerLink="editarmedicamento" (click)="editarMedicamento(i)">
            <div class="izquierda">
              <div class="medicina-nombre">
                <p>{{medicamento.nombre}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #isElse>
      <article class="medicina-next">
        <div class="izquierda">
          <div class="medicina-nombre">
            <p>No hay medicamentos guardados</p>
          </div>
        </div>
      </article>
    </ng-template>

  </section>

</ion-content>