#scrollmenu {
    position: relative;    
    width: 70%;
    margin: 45px 15px;
    overflow: auto;
    white-space: nowrap;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scrollmenu::-webkit-scrollbar {
    display: none;
}

#adelante {
    transform: rotateY(180deg);
}

.dia {
    display: inline-block;
    background-color: rgb(var(--primary_color));
    font-size: var(--font_size);
    width: 14vw;
    height: 14vw;
    border-radius: 7vw;
    line-height: 14vw;
    color: white;
    text-align: center;
    margin: 5px;
    // padding: 10px 0;
    font-weight: bold;
    font-size: xx-large;
}

.dia:first-child {
    background-color: rgb(var(--secundary_color_cancel));
}

h2 {
    text-align: center;
    font-weight: bold;
    color: rgb(var(--secundary_color_title));
    font-size: x-large;
}

.cardmedicamento {
    width: 80%;
    margin: 15px auto;
    padding: 18px 40px 18px 40px;
    background-color: rgb(var(--primary_color_light));
    border-radius: 11px;    
}

.cardmedicamento>h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
}

.cardmedicamento>p {
    font-size: 16px;
}

//          PASTILLAS

.mañana {
    background-color: #0CBCF2;
}

.tarde {
    background-color: #FF3BA0;
}

.noche {
    background-color: #20E592;
}

.completado {
    background-color: rgba(103, 141, 152, 0.3);
}

.medicina-next{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #FFFFFF;
    width: 80%;
    height: 65px;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 10px auto;
}

.color-medio {
    background-color: rgb(var(--primary_color_medium));
}

.medicina-nombre{
    flex:1;
    font-weight: 700;
    height: 7px;
    display: flex;
    align-items: center;
}
.medicina-nombre > p{
    font-size: 14pt;
    color: rgb(var(--color_white));
    font-weight: 700;
}

.derecha{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-between;
    height: 60px;
}
.izquierda{
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 60px;
}
.medicina-hora{
    flex:1;
    font-weight: 700;
    height: 10px;
    display: flex;
    align-items: center;
}
.medicina-hora > p{
    font-size: 14pt;
    color: rgb(var(--color_white));
}
.medicina-line{
    flex:1;
    display: flex;
    align-items: flex-end;
    // background-color: #FFFFFF;
    height: 1px;
    width: 80px;
    // border: 35px;
}

.subtitle {
    font-size: 14px;
    font-weight: 700;
    color: rgb(var(--primary_color));
    text-align:start;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}