<ion-content>
  <app-cabecera [titulo]="nombreCabecera"></app-cabecera>
  
  <section class="body">
    <article id="container-scroll" class="container-center">   
      <img id="atras" src="../../../assets/back_oscuro.svg">
      <div id="scrollmenu">      
        <ng-container *ngFor="let dia of diasOrdenados; let i = index">
          <div class="dia" routerLink="lunes" (click)="diaSolicitado(i)">{{dia}}</div>          
        </ng-container>      
      </div>    
      <img id="adelante" src="../../../assets/back_oscuro.svg">
    </article> 
    <!-- MEDICAMENTOS GUARDADOS -->
    <ng-container *ngIf="medicamentos.length!=0; else vacio">
      <ng-container *ngFor="let medicamento of medicamentos; let i = index;">
        <div class="display-around">
          <div class="medicina-next color-medio" routerLink="editarmedicamento" (click)="editarMedicamento(i)">
            <div class="izquierda">
              <div class="medicina-nombre">
                <p>{{medicamento.nombre}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #vacio>
      <p id="vacio">En cuanto hayas añadido nuevos medicamentos, aquí se mostrará la lista de todos los 
        que tienes guardados en la aplicación.<br><br>
        Pulsando en los botones de arriba podrás acceder a los tratamientos planificaddos cada día de la semana.
      </p>
      <div class="display-around" id="ejemplo">
        <div class="medicina-next color-medio">
          <div class="izquierda">
            <div class="medicina-nombre">
              <p>Tu medicina</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </section>

</ion-content>