<ion-content>
  <header class="header container-center">
    <div class="container-center">
      <h1>Medicamentos</h1>
    </div>
  </header>
  <section class="body">
    <article id="scrollmenu">
      <div class="dia" routerLink="lunes">L</div>
      <div class="dia" routerLink="martes">M</div>
      <div class="dia" routerLink="miercoles">X</div>
      <div class="dia" routerLink="jueves">J</div>
      <div class="dia" routerLink="viernes">V</div>
      <div class="dia" routerLink="sabado">S</div>
      <div class="dia" routerLink="domingo">D</div>
    </article>
    <h2>Medicación</h2>
    <article class="cardmedicamento">
      <h3>Aspirina C Efervescente</h3>
      <p>Hoy a las 22:00</p>
    </article>
    <article class="cardmedicamento">
      <h3>Medicinol 500mg.</h3>
      <p>Mañana a las 8:00</p>
    </article>
    <article class="cardmedicamento">
      <h3>Drogaína 300</h3>
      <p>Sábado a las 15:00</p>
    </article>
    <article class="cardmedicamento">
      <h3>Drogaína 700</h3>
      <p>Miércoles a las 15:00</p>
    </article>
    <article class="cardmedicamento">
      <h3>Drogaína 340</h3>
      <p>Viernes a las 15:00</p>
    </article>
    <ng-container *ngIf="medicamentos else isElse">
      <ng-container *ngFor="let medicamento of medicamentos">
        <div class="display-around">
          <div class="medicina-next color-medio">
            <div class="izquierda">
              <div class="medicina-nombre">
                <p>{{medicamento.nombreMedicamento}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #isElse>
      <article class="medicina-next">
        <div class="izquierda">
          <div class="medicina-nombre">
            <p>No hay medicamentos guardados</p>
          </div>
        </div>
      </article>
    </ng-template>
  </section>

</ion-content>