//          IMPORT
@import "../medicamentos.page.scss";

//		HEADER

.header {
    background-color: rgb(var(--color_white));
}

.header > div > h1 {
    color: rgb(var(--primary_color));
    position: relative;
    top: -1vh;
}

.body {
    height: var(--body_height);
}