#logoNegro{
    width: 150px;
    height: 50px;
}

.logo-small{
    height:20vh;
    max-height: 140px;
}

.body > div > p{
    color:rgb(var(--color_black));
    font-weight:bold;
    font-size:25px;
}
.body{
    padding-top: 40px;
}

// form{
//     margin-top:80px;
// }

// .body form ion-label{
//     font-size:var(--font-size-form);
//     font-weight:700;
// }

// .body form ion-input[placeholder] {
//     font-size: var(--font-size-placeholder);
// }

.body form .grupo-registro{
    margin-top: 20px;
}

.body form ion-input.registro-borde
{
    border-bottom: 2px solid rgb(var(--primary_color));
}
.but{
    // margin-top: 75px;
    max-width:186px;
    width:186px;
}
.but-cancel{
    max-width:186px;
    min-width: 60%;
    font-size:14px;
    height: 34px;
    margin-top: 25px;
    background-color: rgb(var(--primary_color_light));
}

.iniciar_but{
    margin-top: 80px;

}
