<ion-content #contenedor>
    <!-- Header -->
    <app-cabecera [titulo]="nombreCabecera" [iconoAtras]="icono"></app-cabecera>

  <!-- Body -->
<section class="body">

  <!-- Busqueda Formulario -->
  <form #busquedaProspectoForm="ngForm" (ngSubmit)="buscarProspectos(busquedaProspectoForm)">

    <ion-grid>

      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-label for="medicamentoBuscado">Buscar medicamento</ion-label>          
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10" class="ion-justify-content-center">
          <input type="text" [(ngModel)]="prospectoBuscar"
            #medicamentoBuscado="ngModel" 
            placeholder="Nombre del medicamento que buscas"
            title="Nombre del medicamento que buscas"
            name="medicamentoBuscado" required
            autocomplete="on"
            class="registro-borde">
        </ion-col>
      </ion-row>

      <!-- Botones -->
      <ion-row class="grupo-registro">
        <ion-col size="5">
          <button (click)="buscarProspectos(busquedaProspectoForm)" expand="block" 
          class="but" fill="clear" shape="round">
            Buscar
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>
  <ng-container *ngIf="resultados.length!==0 || sinResultados">
    <article id="result-busqueda-prospects" class="pastilla-result">
      <h3 class="titulo2">{{resultados.length}} resultados encontrados</h3>      
      <ng-container *ngFor="let resultado of resultados">
        <div class="cardMed container" routerLink="detalle-prospecto"
        (click)="guardarProspecto(resultado)">
          <img src={{resultado.srcfoto}} alt="" class="img-card">
          
          <div class="tituloMed">
            <h4 class="nombre-med">{{resultado.nombreMed}}</h4>   
          </div>
          <div class="laboratorio">
            <h5 class="nombre-lab">{{resultado.lab}}</h5>
          </div>
        </div>        
      </ng-container>      
    </article>
    <ng-container *ngIf="resultados.length===0 && sinResultados">      
      <p id="sinResultados">Lo lamentamos, pero no se ha encontrado ningún medicamento con ese nombre.</p>
    </ng-container>
  </ng-container>
  

</section>

</ion-content>
