//		Imports

@import "../../../theme/variables.scss";
@import "../../../estilosGenerales.scss";
@import "../../components/cardMedicina/card-medicina.component.scss";

//		Diseño Header

.header {
    height: calc(var(--header_height) + 30px);
    background-color: rgb(var(--primary_color));
    position: fixed;
    width: 100%;
}

.header > div > img {
    left: 20px;
    position: absolute;
    width: 10px;
    height: 20px;
}

.header > div > h1 {
    color: rgb(var(--color_white));
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.body {
    position: absolute;
    height: var(--body_height);
    border-radius: var(--border_radius-header) var(--border_radius-header) 0 0;
    width: 100%;
    top: var(--header_height);
    background-color: rgb(var(--color_white));
    z-index: 1;
}

.container-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

// Estilo Sección Prospectos
.body{
    padding-top: 40px;
}

// Estilos form busqueda
.body form ion-label{
    font-weight:700;
}

.body form .grupo-registro{
    margin-top: 40px;
}

.body form ion-input.registro-borde
{
    border-bottom: 2px solid rgb(var(--primary_color));
}

.body form ion-label{
    font-size:var(--font-size-form);
    font-weight:700;
}

.body form ion-input[placeholder] {
    font-size: var(--font-size-placeholder);
}

// Pastilla resultados
#result-busqueda-prospects {
    margin-top: 40px;
    background-color: rgba(var(--primary_color),0.5);
    display: flex;
    flex-direction: column;

    min-height: 100%;
    overflow-y: scroll;
    padding-top: 14px;
}

.titulo2 {
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
    align-self:center;
}
// 
app-card-medicina:first-of-type{
    margin-top: 0px;
} 

app-card-medicina{
    background-color: rgb(var(--color_white));
    border-radius: 17px;
    max-width: 310px;
    max-height: 150px;
    box-shadow:  5px 11px 12px 2px rgba(0, 0, 0, 0.25);
    display:flex;
    align-self: center;
    padding:20px 10px;
    margin-top: 20px;
}

