ion-content h2{
    color: #6F88FC;
    display: flex;
    justify-content: center;

}

.but-centrado-fila{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
