<ion-content>
  <section class="container-center todo">
    <article>
      <div class="display-center">
        <h2 class="modal-header">Nuevo tratamiento añadido</h2>
        <p class="parrafo">¡Has agregado un nuevo tratamiento,
          estaremos pendientes de recordartelo!</p>
      </div>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="container-center">
            <button routerLink="/medicamentos" class="but" (click)="closeModal()">Ir a Medicamentos</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </article>
  </section>  
</ion-content>
