/// aca no hace scroll ni dios

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  ion-content {
    overflow: hidden;
    --overflow: hidden;
  }
  
  
  .scroll-content {
    overflow: hidden;
  }
    ion-infinite-scroll.md.infinite-scroll-enabled.hydrated {
        overflow: scroll!important;
        height: 100%!important;
      }  

//////////


// Estilos Section Formulario
.body{
    padding-top: 40px;
}

// .body form ion-label{
//     font-size:var(--font-size-form);
//     font-weight:700;
// }

// .body form ion-input[placeholder] {
//     font-size: var(--font-size-placeholder);
// }

.body form .grupo-registro{
    margin-top: 40px;
}
.body form ion-input.registro-borde
{
    border-bottom: 2px solid rgb(var(--primary_color));
}

.body form ion-checkbox.checkBoton {
    margin-top: 5px;
    --background-checked: rgb(var(--primary_color_medium));
    --border-color-checked: rgb(var(--primary_color_medium));
}

.but, .but-cancel {
    width: 132px;
    max-width: 132px;
}
// ion-row.container-around,
// ion-row.container-around.grupo-botones{
//     display: flex;
//     justify-content: space-evenly;
// }

// form .grupo-botones ion-col{
//     display: flex;
//     justify-content: end;
// }

// form .grupo-botones ion-col.grupo-botones-start{
//     justify-content: start;
// }
