<ion-content>
  <!-- Header -->
  <app-cabecera [titulo]="nombreCabecera" [iconoAtras]="icono" [rutaAtras]="rutaAtras"></app-cabecera>
  <!-- Body -->
  <section class="body">

    <form #anadirContactoForm="ngForm">

      <ion-grid>
        <!-- Nombre del contacto -->
        <ion-row class="ion-justify-content-center grupo-registro">
          <ion-col size="10">
            <ion-label for="nombreContacto">Nombre</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="ion-justify-content-center">
            <input type="text" 
              [(ngModel)]="contacto.nombreContacto" 
              #nombreContacto="ngModel" 
              title="Nombre completo del contacto" 
              name="nombreContacto"
              required 
              autocomplete="on"minlength="5" 
              maxlength="100"  
              pattern = "^([A-zÁ-ÿ]+[ .,/-]*)+"
              class="registro-borde form-group ng-untouched ng-pristine"
              >
          </ion-col>
          <ion-col size="10" [hidden]="nombreContacto.valid || nombreContacto.pristine" class="show-alert">
            <p>Nombre de contacto no válido</p>
          </ion-col>
        </ion-row>

        <!-- Telefono contacto -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="10">
            <ion-label for="tlfContacto">Teléfono</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="10">
            <input type="text" 
              [(ngModel)]="contacto.tlfContacto"
              #tlfContacto="ngModel" 
              title="Teléfono del contacto" 
              name="tlfContacto" 
              required 
              class="registro-borde form-group ng-untouched ng-pristine"
              pattern="(\+[0-9]{2,3})?[ -]*([0-9])[ -]*([0-9][ -]*){8}"
              minlength="8"
              maxlength="17">
          </ion-col>
          <ion-col size="10" [hidden]="tlfContacto.valid || tlfContacto.pristine" class="show-alert">
            <p>Teléfono no válido</p>
          </ion-col>
        </ion-row>

        <!-- Email del contacto -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="10">
            <ion-label for="emailContacto">Email</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="10">
            <input type="email" 
              [(ngModel)]="contacto.emailContacto" 
              #emailContacto="ngModel"
              title="Email del contacto" 
              name="emailContacto" 
              required
              autocomplete="on"
              minlength="5" 
              maxlength="45" 
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
              class="registro-borde form-group ng-untouched ng-pristine">
          </ion-col>
          <ion-col size="10" [hidden]="emailContacto.valid || emailContacto.pristine" class="show-alert">
            <p>Email no válido</p>
          </ion-col>
        </ion-row>

        <!-- Notificaciones Email y SMS -->
        <ion-row class="ion-justify-content-around grupo-registro">
          <ion-col size="4">
            <ion-label for="notifEmail">Notificaciones por email</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label for="frecuencia">Notificaciones por SMS</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-around">
          <ion-col size="4">
            <ion-checkbox [checked]="checkedEmail" class="checkBoton" (ionChange)="cambiarCheckboxEmail(notifEmail)"
              #notifEmail></ion-checkbox>
          </ion-col>
          <ion-col size="4">
            <ion-checkbox [checked]="checkedSms" class="checkBoton" (ionChange)="cambiarCheckboxSms(notifSms)"
              #notifSms></ion-checkbox>
          </ion-col>
        </ion-row>

        <!-- Botones -->
        <ion-row class="grupo-registro grupo-botones">
          <ion-col size="5">
            <button (click)="anadirContactoForm.reset(); bntCancelar()" class="but-cancel">
              Cancelar
            </button>
          </ion-col>

          <ion-col size="5" class="grupo-botones-start">
            <button (click)="onSubmit(anadirContactoForm)" class="but">
              Guardar
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </form>

  </section>

</ion-content>