<ion-content #contenedor>
  <header class="header container-center">
      <div class="container-center">
        <img src="../../../assets/back_oscuro.svg" routerLink="/medicamentos">
        <h1>{{titulo}}</h1>
      </div>
  </header>
  
  <section class="body">
    <!-- MEDICAMENTOS para el día -->
    <ng-container *ngIf="medicamentosDia.length!==0; else vacio" >
      <ng-container *ngFor="let medicamento of medicamentosDia; let i = index;">        
        <div class="display-around">
          <div class="medicina-next color-medio">
            <div class="izquierda">
              <div class="medicina-nombre">
                <p>{{medicamentosDia[i].nombre}}</p>
              </div>
              <div class="medicina-line">
              </div>
            </div>
            <div class="derecha">
              <div class="medicina-hora">
                <p>{{convertirHora(medicamentosDia[i].fecha)}}</p>
              </div>
            </div>
          </div>
        </div>        
      </ng-container>        
    </ng-container>
    <ng-template #vacio>
      <p id="vacio">No hay ningún tratamiento planificado para este día de la semana.</p>      
    </ng-template>
  </section>
</ion-content>
