<ion-content>
  <header class="header container-center">
      <div class="container-center">
        <img src="../../../assets/back_oscuro.svg" routerLink="/medicamentos">
        <h1>Lunes</h1>
      </div>
  </header>
  
  <section class="body">
    <!-- MEDICAMENTOS para el día -->
    <ng-container *ngIf="medicamentos else isElse" >
      <ng-container *ngFor="let medicamento of medicamentos">
        <ng-container *ngIf="medicamento.completado == false">
          <div class="display-around">
            <div class="medicina-next color-medio">
              <div class="izquierda">
                <div class="medicina-nombre">
                  <p>{{medicamento.nombreMedicamento}}</p>
                </div>
                <div class="medicina-line">
                </div>
              </div>
              <div class="derecha">
                <div class="medicina-hora">
                  <p>{{medicamento.primeraToma}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
        <article class="display-around">
          <h3 class="subtitle">Completado</h3>
          <ng-container *ngFor="let medicamento of medicamentos">
            <ng-container *ngIf="medicamento.completado == true">
              <div class="medicina-next completado">
                <div class="izquierda">
                  <div class="medicina-nombre">
                    <p>{{medicamento.nombreMedicamento}}</p>
                  </div>
                  <div class="medicina-line">
                  </div>
                </div>
                <div class="derecha">
                  <div class="medicina-hora">
                    <p>{{medicamento.primeraToma}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </article>
    </ng-container>
    <ng-template #isElse>
      <article class="medicina-next">
        <div class="izquierda">
          <div class="medicina-nombre">
            <p>No hay medicamentos guardados</p>
          </div>
        </div>
      </article>
    </ng-template>
  </section>
</ion-content>
