/* ----- External imports -----  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* ----- Cleaners ------ */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-style: normal;
    color: rgb(var(--color_black));
    font-size: var(--font_size);
    font-weight: 400;
    background: transparent;
    list-style-type: none;
    cursor: default;
    // overflow-x: hidden;
    // overflow-y: hidden;
}

/* ----- Defaults ----- */
p, a, li, span, h1, h2, h3, h4, h5, h6, address {
    font-size: 1.6rem;
}

body {
    background-color: rgb(var(--color_white));
}

.but {
    background-color: rgb(var(--primary_color));
    color: white;
    border-radius: 17px;
    height: 34px;
    min-width: 60%;
    font-size: 14px;
}
.datetime-text {
    margin-top: 10px;
    color: rgba(0,0,0,0.5);
}

.but:focus,.but:active{
    background-color: rgb(var(--primary_color_medium));
}

.but-cancel {
    background-color: rgb(var(--secundary_color_cancel));
    color: rgb(var(--primary_color));
    border-radius: 17px;
    height: 34px;
    font-size: 14px;
}

.but-cancel:focus, .but-cancel:active {
    background-color: rgba(var(--secundary_color_cancel),0.7);
}

// MODALES


ion-modal {
    background: rgba(34, 0, 79, 0.77);
}

.modal-wrapper.sc-ion-modal-md, .modal-shadow.sc-ion-modal-md {
    border-radius: 17px;
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    height: 50%;
    min-height: 50%;
    max-height: 50%;
}

ion-content > p{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 10px auto;
        text-align: center;
        font-size: 15px;

}


// PROSPECTO BOTON

.but-ver {
    background-color: rgb(var(--primary_color_light));
    color: rgb(var(--primary_color));
    border-radius: 17px;
    height: 34px;
    max-width:132px;
    font-size: 14px;
}


