/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Mapa Leaflet*/
@import "~leaflet/dist/leaflet.css";

//          CLASES GLOBALES

//		HEADER

.header {
    height: calc(var(--header_height) + 30px);
    background-color: rgb(var(--primary_color));
    position: fixed;
    width: 100%;
}

.header > div > img {
    left: 20px;
    position: absolute;
    width: 10px;
    height: 20px;
}

.header > div > h1 {
    color: rgb(var(--color_white));
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.body {
    position: absolute;
    height: var(--body_height);
    border-radius: var(--border_radius-header) var(--border_radius-header) 0 0;
    width: 100%;
    top: var(--header_height);
    background-color: rgb(var(--color_white));
    z-index: 1;
}

//      DISPLAY/COLUMN  CONTAINER/ROW

.container-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-around {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.display-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
<<<<<<< HEAD
}
=======
}


//prueba de MODAL-CUSTOMIZATION- not work
// .my-custom-class {
//     --background: red;
//    
//   }
>>>>>>> Isabel
