/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// ********************************************
// RESET CSS

/* ----- External imports -----  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
​
​
/* ----- Declarations ----- */
:root {
    --color_black: 0, 0, 0;
    --color_white: 255, 255, 255;
    $primary_color: rgb(111, 0, 255);
    --primary_color_medium: 183, 128, 255;
    --primary_color_light: 231, 216, 251;
    --secundary_color_cancel: 255, 192, 69;
    --secundary_color_title: 111, 136, 252;
    --third_color: 89, 33, 161;
    --header_height: 85px;
    --body_height: calc(100vh - 85px);
    --border_radius-notification: 11px;
    --border_radius-button: 17px;
    --border_radius-header: 36px;
    --font_size: 11px;
}
​
/* ----- Cleaners ------ */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-style: normal;
    color: rgb(var(--color_black));
    font-size: var(--font_size);
    font-weight: 400;
    background: transparent;
    list-style-type: none;
    cursor: default;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* ----- Defaults ----- */
p, a, li, span, h1, h2, h3, h4, h5, h6, address {
    font-size: 1.6rem;
}

body {
    background-color: rgb(var(--color_white));
}