ion-content{
    // background-color: #6F00FF;
  
    display: flex;
    flex-direction: column;
    gap: 60px;
    --background: #6F00FF;
  
}

.header-home{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    width: 100%;
    height: 260px;
    color: #ffffff;
    // font-size: 22pt;
    font-weight: 700;
}

.header-textos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   
    
    // width: 50%;
   
}
.config-icon{
    height: 30px;
    width: 30px;
  
}

.header-titulo p{
  font-size: 26pt;
  font-weight: 700;
  color: #ffffff;
}

.header-date{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 5vh;
}

.header-date p{
    color: #ffffff;
    font-weight: 700;
}

.imagen{
    display: flex;
    justify-content: flex-end;
    position: relative;
    
}

.ilustration-header{
    position: absolute;
  //bottom: -100px;
   top: 20px;
  
}

/*///  Titulo de Medicina del día y de lista de medicinas///*/

.titulo p {
    color: rgba(var(--secundary_color_title));
    font-weight: 500;
    padding-top: 14px;
    font-size: 10pt;
}


/*//////*/

.header-medicinas{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 36px 36px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
   padding-top: 30px;   
   padding-left: 40px;
   padding-right: 40px;
}



.izquierda{
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 60px;
    
}


// .medicina-next{
    
//     padding-left: 20px;
//     padding-right: 20px;
//     padding-bottom: 20px;
//     padding-top: 20px;
   
    
//     background-color: #6F00FF;
//     color: #ffffff;
//     width: 100%;
//     height: 65px;
//     border-radius: 11px;
//     display: flex;
//     justify-content: space-between;
//     align-items:center;
// }

// .medicina-nombre{
//     flex:1;   
//     height: 7px;   
//     display: flex;
//     align-items: center;    
// }

// .medicina-nombre p{
//     font-size: 14pt;
//     font-weight: 700;    
// }

// .medicina-dia{
//     flex:1;
//     font-size: 10pt;
//     height: 10px;
//     display: flex;
//     align-items: center;
   
// }

// .medicina-dia p{
//     font-size: 10pt;    
// }

.derecha{   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-between;
    height: 60px;
}

// .medicina-hora{  
//     flex:1;
//     font-weight: 700;
//     height: 10px;
//     display: flex;
//     align-items: center;
   
// }

// .medicina-hora p{
//     font-size: 14pt;    
// }


.line{
    flex:1;
    display: flex;
    align-items: flex-end;
    // background-color: #ffffff;
    height: 1px;
    width: 80px;
    // border: 35px;
}


.app-medicamento{
    width: 100%;

}

/////////// LISTA DE MEDICAMENTOS

// .medicina-lista{
    
//     padding-left: 20px;
//     padding-right: 20px;
//     padding-bottom: 20px;
//     padding-top: 20px;
    
//     background-color: rgba(var(--primary_color_light));  
//     // background-color: #6F00FF;
//     // 
//     color: #6F00FF;
//     width: 100%;
//     height: 65px;
//     border-radius: 11px;
//     display: flex;
//     justify-content: space-between;
//     align-items:center;
// }

// .medicinaLista-nombre{
//     flex:1;  
//     height: 7px;   
//     display: flex;
//     align-items: center;
// }

// .medicinaLista-nombre p{
//     font-size: 14pt;
//     font-weight: 700;    
// }


// .medicinaLista-dia{
//     flex:1;
//     font-size: 10pt;
//     height: 10px;
//     display: flex;
//     align-items: center;   
// }

// .medicinaLista-dia p{
//     font-size: 10pt;    
// }

// .medicinaLista-hora{
//     flex:1;
//     font-weight: 700;
//     height: 10px;
//     display: flex;
//     align-items: center;
// }

// .medicinaLista-hora p{
//     font-size: 14pt;    
// }


// CONFIRMACION MEDICAMENTO TOMADO

.confirmacion {
    position: relative;
    top: -20px;
    background-color: rgba(var(--primary_color_light), 0.1);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 25px;
    padding-bottom: 5px;
    color: #ffffff;
    width: 80%;
    height: 85px;
    border-radius: 0 0 11px 11px;
}

.clickConfirmacion {
    border-radius: 11px;
    width: 20%;
    height: 90%;
}

.overConfirmacion {
    z-index: 1;
}

.cancelar {
   background-color: rgba(var(--secundary_color_cancel));  
}

.aceptar {
    background-color: rgba(var(--primary_color_light));
}

// APARECER Y DESAPARECER BOTONES, ETC

.aparecer {
    display: flex;
}

.desaparecer {
    display: none;
}

// CLASIFICACIÓN DE LAS MEDICINAS

.card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    height: 65px;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    align-items:center; 
    position:relative;   
}

.pendiente {
    background-color: rgba(var(--secundary_color_cancel));
    
}

.textoPendiente {
    color: rgb(111, 0, 255);
}

.primero {
    background-color: rgb(111, 0, 255);
}

.textoPrimero {
    color: rgb(var(--primary_color_light));
}

.proximo {
    background-color: rgb(var(--primary_color_light));
}

.textoProximo {
    color: rgb(111, 0, 255);
}

.tomado {
    background-color: rgb(var(--primary_color_medium));
}

.textoTomado {
    color: rgb(111, 0, 255);
}

.olvidado {
    background-color: red;
}

.textoOlvidado {
    color: white;
}

.nombre{
    flex:1;   
    height: 7px;   
    display: flex;
    align-items: center;     
}

.nombre p{    
    font-size: 14pt;
    font-weight: 700;       
}



.dia{
    flex:1;
    font-size: 10pt;
    height: 10px;
    display: flex;
    align-items: center;   
}

.dia p{
    font-size: 10pt;    
}

.hora{
    flex:1;
    font-weight: 700;
    height: 10px;
    display: flex;
    align-items: center;
}

.hora p{
    font-size: 14pt;    
}

.botones {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 65px;
    z-index: 10;
    border-radius: 11px;
    overflow: hidden;
    
}

.lohetomado,.loheolvidado {
    width: 50%;
    height: 65px;  
    font-size: 13pt;
    font-weight: 600;   
    color: white;
    padding: 15px;     
}

.lohetomado {
    background-color: green;
}

.loheolvidado {
    background-color: red;
}