<ion-content>
  <div class="header-home">

    <div class="header-textos">
      <div class="header-titulo">
        <p>¡Hola {{nombreUsuario}}!</p>
        <img class="config-icon" src="../../assets/icon/settings-01.svg" routerLink="/configuracion">
      </div>
      <div class="header-date">
        <p>{{diaDeLaSemana}}, {{diaDelMes}} {{mes}}.</p>
      </div>
    </div>
    <div class="imagen">
      <img class="ilustration-header" src="../../assets/illustrations/Dashboard.svg">
    </div>

  </div>

  <div class="header-medicinas">
    <!--TOMAS PENDIENTES DE HOY-->
    <ng-container *ngIf="tomasDeHoyPendientes.length!==0">
      <div class="titulo">
        <p>Pendientes de confirmar</p>
      </div>
    </ng-container>
    <ng-container *ngFor="let toma of tomasDeHoyPendientes; let i = index;">
      <div class="card pendiente overConfirmacion" (id)="'card'+i" (click)="mostarConfirmacion(botones)">
        <div class="botones desaparecer" #botones>
          <button class="lohetomado" (click)="tomada(i)">Lo he tomado</button>
          <button class="loheolvidado" (click)="olvidada(i)">Se me ha olvidado</button>
        </div>        
        <div class="izquierda">
          <div class="nombre">
            <p class="textoPendiente">{{tomasDeHoyPendientes[i].nombre}}</p>
          </div>
          <div class="dia">
            <p class="textoPendiente">{{hoyOManiana(tomasDeHoyPendientes[i].fecha)}}</p>
          </div>
        </div>
        <div class="derecha">
          <div class="hora">
            <p class="textoPendiente">{{convertirHora(tomasDeHoyPendientes[i].fecha)}}</p>
          </div>
          <div class="line">
          </div>
        </div>
      </div>
    </ng-container>
    <!--TOMAS FUTURAS DE HOY-->
    <ng-container *ngIf="tomasDeHoyFuturas.length!==0">
      <div class="titulo">
        <p>Próximas tomas</p>
      </div>
    </ng-container>
    <ng-container *ngFor="let toma of tomasDeHoyFuturas; let i = index;">
      <div [ngClass]="(i===0)?'card primero':'card proximo'">
        <div class="izquierda">
          <div class="nombre">
            <p [ngClass]="(i===0)?'textoPrimero':'textoProximo'">{{tomasDeHoyFuturas[i].nombre}}</p>
          </div>
          <div class="dia">
            <p [ngClass]="(i===0)?'textoPrimero':'textoProximo'">{{hoyOManiana(tomasDeHoyFuturas[i].fecha)}}</p>
          </div>
        </div>
        <div class="derecha">
          <div class="hora">
            <p [ngClass]="(i===0)?'textoPrimero':'textoProximo'">{{convertirHora(tomasDeHoyFuturas[i].fecha)}}</p>
          </div>
          <div class="line">
          </div>
        </div>
      </div>
    </ng-container>
    <!--TOMAS YA INGERIDAS Y CONFIRMADAS-->
    <ng-container *ngIf="tomasDeHoyTomadas.length!==0">
      <div class="titulo">
        <p>Medicamentos tomados</p>
      </div>
    </ng-container>
    <ng-container *ngFor="let toma of tomasDeHoyTomadas; let i = index;">
      <div class="card tomado">
        <div class="izquierda">
          <div class="nombre">
            <p class="textoTomado">{{tomasDeHoyTomadas[i].nombre}}</p>
          </div>
          <div class="dia">
            <p class="textoTomado">{{hoyOManiana(tomasDeHoyTomadas[i].fecha)}}</p>
          </div>
        </div>
        <div class="derecha">
          <div class="hora">
            <p class="textoTomado">{{convertirHora(tomasDeHoyTomadas[i].fecha)}}</p>
          </div>
          <div class="line">
          </div>
        </div>
      </div>
    </ng-container>
    <!-- MEDICAMENTOS OLVIDADOS -->
    <ng-container *ngIf="tomasDeHoyOlvidadas.length!==0">
      <div class="titulo">
        <p>Medicamentos olvidados</p>
      </div>
    </ng-container>
    <ng-container *ngFor="let toma of tomasDeHoyOlvidadas; let i = index;">
      <div class="card olvidado">
        <div class="izquierda">
          <div class="nombre">
            <p class="textoOlvidado">{{tomasDeHoyOlvidadas[i].nombre}}</p>
          </div>
          <div class="dia">
            <p class="textoOlvidado">{{hoyOManiana(tomasDeHoyOlvidadas[i].fecha)}}</p>
          </div>
        </div>
        <div class="derecha">
          <div class="hora">
            <p class="textoOlvidado">{{convertirHora(tomasDeHoyOlvidadas[i].fecha)}}</p>
          </div>
          <div class="line">
          </div>
        </div>
      </div>
    </ng-container>
    <!-- CONFIRMACION TOMA MEDICAMENTO -->
    <!-- <div class="container-evenly confirmacion desaparecer" #confirmacion>
      <div class="container-center clickConfirmacion cancelar" (click)="ocultarConfirmacion(confirmacion)">
        <img src="../../assets/close.png" alt="cancelar">
      </div>
      <div class="container-center clickConfirmacion aceptar" (click)="ocultarConfirmacion(confirmacion)">
        <img src="../../assets/tick.png" alt="aceptar">
      </div>
    </div> -->
  </div>
</ion-content>