<ion-content>
  <div class="header-home">

    <div class="header-textos">
      <div class="header-titulo">
        <p>¡Hola {{nombreUsuario}}!</p>
        <img class="config-icon" src="../../assets/icon/settings-01.svg" routerLink="/configuracion">
      </div>
      <div class="header-date">
        <p>{{diaDeLaSemana}}, {{diaDelMes}} {{mes}}.</p>
      </div>
    </div>
    <div class="imagen">
      <img class="ilustration-header" src="../../assets/illustrations/Dashboard.svg">
    </div>

  </div>
  <div class="header-medicinas">


    <div class="medicina-next">
      <div class="izquierda">
        <div class="medicina-nombre">
          <p>Aspirina</p>
        </div>

        <div class="medicina-dia">
          <p>Martes</p>
        </div>
      </div>

      <div class="derecha">
        <div class="medicina-hora">
          <p>21:30</p>
        </div>
        <div class="medicina-line">

        </div>
      </div>
    </div>

  </div>
</ion-content>
